<head>
<meta charset="UTF-8">

 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>WELCOME TO MY WEBSITE</title>

 <link rel="stylesheet" href="styles.css">
navbar-brand{
 text-align; center
}
<style>
p { text-align: justify;
    font-size: 1.5rem;
    margin: 1rem 0
   padding: 1rem;
    /* text-align: justify; */
  }
body {

 font-family: big shoulders;

 color: #333;

 background-color: #F5F5DC;
 
 text-align: center;

 margin: 20px 20px;

 padding: 20px;

 line-height: 1.6;
</style>
 
 <style>

}
nav a:hover {

 text-decoration: underline;

}
</style>

<style>
main {
 background-color: #f5f5dc;
 
 padding: 20px;
 
text-align; center;
 
 max-width: 800px;

 margin: 20px 20px;

}

main img {

 max-width: 100%;

 height: auto;

 display: block;

 margin: 20px 20px;
text-align: center;
}
</style>

<style>
footer {

 background-color: #f5f5dc;

 color: Beige;

 text-align: center;

 padding: 10px;

 position: fixed;

 bottom: 20px;

 width: 100%;

}
</style>

<style>
p {

 font-size: 1.1em;

}

a {

 color: #4CAF50;

 text-decoration: none;

}

a:hover {

 text-decoration: underline;

}
</style>

<style>
img {

 border: 5px solid #4CAF50;

 border-radius: 10px;

}
</style>
<style>
main a[href^="mailto:"] {

 color: #ff5722;

 font-weight: bold;

}
</style>
</head>
